<nav class="navbar navbar-expand-lg navbar-light bg-light bg-primary">
    <a class="navbar-brand" href="#">COOLAPP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-item nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>

        <li class="nav-item">
        <a role="button"  *ngIf="!token" class="nav-item nav-link" (click)="login()">Login</a></li>
        <span>{{name}}</span>
        <li class="nav-item">
        <a role="button" *ngIf="token" class="nav-item nav-link" (click)="logout()">Logout</a></li>
      </div>
    </div>
  </nav>