<div class="mt-5">
   

    <table class="table table-bordered">
      <thead>
          <tr>
            <th>Reservation ID</th>
            <th>Dat Reservation</th>
            <th>Duration</th>
            <th>Nombre de personnes</th>
            <th>Room nember</th>
            
          </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let r of resevations">
            <td>{{r.idReservation}}</td>
            <td>{{r.dateReservation}}</td>
            <td>{{r.duration}}</td>
            <td>{{r.nbPerson}}</td>
            <td>{{r.room.idRoom}}</td>
            <!--<td>{{r.user}}</td>-->
            
<!-- Button trigger modal -->
<!--<td><button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(dish)">update</button></td>
<td> <button type="button" class="btn btn-info" >Details</button></td>-->
          <td><button type="button" class="btn btn-danger" (click)="deleteRes(r.idReservation)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

