.features-content .content-hide {
    display: none;
  }
  
  .features-content:hover .content-hide {
    display: block;
  }
  .tabs-content article {
    opacity: 0;
    transition: opacity 0.5s;
  }
  .tabs-content article.active {
    opacity: 1;
  }
  